body {
  color: $default;
  @extend %Rubik-400;
  font-size: 16px;
}
.containerbig{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

a {
  color:#7b7b7b;
}

.title {
  color: #191919;
  font-size: 36px;
  text-align: center;
  @extend %DMSans-700;
}

.button-box {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.button-box__btn {
      background-color: transparent;
      padding: 0;
      border: none;
      color :#8b8b8b;
      @extend %DMSans-700;
      cursor: pointer;
}

.button-box__btn + .button-box__btn {
  margin-left: 30px;
}
  







