html,
body {
  height: 100%;
}

body {
  color: $default;
  @extend %Rubik-400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.containerbig {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

a {
  color: #7b7b7b;
}

.title {
  color: #191919;
  font-size: 36px;
  text-align: center;
  @extend %DMSans-700;
}

.button-box {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.button-box__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #8b8b8b;
  @extend %DMSans-700;
  cursor: pointer;
}

.button-box__btn+.button-box__btn {
  margin-left: 30px;
}

.mixitup-control-active {
  color: $default-black;
}



.top {
  padding: 32px 0;
  text-align: center;
  background-color: #edf1f4;

}

.breadcrumbs {

  &__title {
    font-size: 36px;
    @extend %DMSans-500;
    color: #222933;
    margin-bottom: 5px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    padding: 0 10px;
    color: #94999f;
    position: relative;

    &::after {
      position: absolute;
      right: -4px;
      content: '/';
    }

  }

  &__item:last-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  &__link {
    color: inherit;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  &__next {
    padding: 14px 20px;
    border: 1px solid $accent;
    cursor: pointer;
  }
}

.pagination-list {
  display: flex;

  &__item {
    cursor: pointer;
    margin-right: 16px;
    border: 1px solid $accent;
    padding: 14px 20px;
  }

  &__item--active {
    cursor: auto;
    background-color: $accent;
    color: #fff;
  }
}



@media (max-width:768px) {
  h3.title {
    font-size: 32px;
  }
}

@media (max-width:640px) {
  h3.title {
    font-size: 30px;
  }
}

@media (max-width:530px) {
  h3.title {
    font-size: 28px;
  }
}

@media (max-width:530px) {
  h3.title {
    font-size: 26px;
  }
}