@media (max-width: 1200px) {
  .footer-top__nav {
    width: 125px;
    margin-right: 100px;
  }

  .slick-list {
    height: 430px;
  }

  .benefits {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .benefits__item+.benefits__item {
    border-left: none;
  }

  .distribution__img {
    display: none;
  }

  .distribution__title {
    font-size: 24px;
    margin-top: 40px;
  }

  .distribution__item {
    height: auto;
  }

  .articles-item {
    margin-right: 20px;
  }

  .articles-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .blog-page {
    padding: 80px 0;

    &__inner {
      flex-direction: column;
    }

    &__aside {
      order: -1;
      width: 100%;
      margin: 0 auto;
    }

    &__content {
      max-width: 100%;
      margin-right: 0;
    }

    .filter-search__input {
      width: 100%;
    }

    &__recent,
    .filter-category {
      display: none;
    }

    &__img {
      max-width: 100%;
      width: 100%;
      max-height: 530px;
    }
  }
  .mission {
    padding: 60px 0;

    &__img {
      display: none;
    }

    &__content {
      max-width: 100%;
    }

    &__statistic {
      flex-wrap: wrap;
    }
  }
}

@media (max-width:1100px) {

  .top-slider .slick-dots {
    margin-top: 40px;
  }

  .slick-slide .top-slider__img {
    display: none;
  }

  .top-slider {
    padding: 100px 0 45px;

    &__item {
      display: flex;
      justify-content: center;
    }
  }

  .products {
    padding: 75px 0 125px;
  }
}

@media (max-width: 1050px) {

  .menu__list-item+.menu__list-item {
    margin-left: 20px;
  }

  .footer-top {
    padding: 65px 0 55px
  }

  .products__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .designe-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .team {
    &__inner {
      flex-direction: column;
    }

    &__info {
      max-width: 100%;
      margin-bottom: 40px;
    }

    &__items {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 992px) {

  .menu__list-item+.menu__list-item {
    margin-left: 0px;
    margin-top: 10px;
  }

  .header__inner {
    align-items: center;
  }

  .menu__list-link {
    font-size: 20px;
  }

  .user__nav {
    margin-left: auto;
  }

  .user__nav-img {
    max-width: none;
  }

  .header {
    padding: 45px 0 45px;
  }

  .menu {
    margin-left: 40px;

    &__list {
      position: absolute;
      transform: translateY(-800%);
      top: 135px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      max-height: 245px;
    }

    &__list--active {
      transform: translateY(0);
      background-color: #fff;
    }
  }

  .footer-top {
    padding: 55px 0 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer-top__item {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .benefits__item {
    padding: 0 50px;
  }

  .products,
  .designe {
    padding: 75px 0;
  }

  .articles {
    padding: 60px 0 5px;
  }

  .partners-item {
    margin: 10px 55px;
  }

  .partners__inner {
    justify-content: center;
    flex-wrap: wrap;
  }

  .header__inner.fix {
    .menu__list--active {
      margin-top: -75px;
      height: 228px;
    }
  }

  .blog-one {
    .comments {

      &__form-textbox {
        display: block;
      }

      &__form-text {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .top-slider {
    &__title {
      font-size: 66px;
      line-height: 65px;
    }
  }

  .products__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
    align-items: center;
  }

  .button-box {
    margin-bottom: 60px;
  }

  .distribution__inner {
    display: block;
  }

  .distribution__item {
    margin-bottom: 15px;
    width: auto;
  }

  .products,
  .designe {
    padding: 60px 0;
  }

  .design-video {
    height: 300px;
  }

  .articles-item {
    margin-right: 0px;
  }

  .partners.partners--marginnone {
    padding: 60px 0;
  }

  .pagination {
    flex-wrap: wrap;

    &__next {
      margin-bottom: 10px;
    }
  }

  .pagination-list {
    &__item {
      margin-bottom: 10px;
    }
  }
  .mission {

    &__statistic {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__statistic-item {
      padding: 0 25px;
      margin-bottom: 20px;
    }

    &__year-num {
      font-size: 110px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
  .mission__statistic-item+.mission__statistic-item {
    border-left:none;
  }

  .about-statistic {
    padding: 60px 0;

    &__items {
      flex-wrap: wrap;
    }

    &__item {
      margin: 0 50px 15px;
    }
  }
  .team {
    padding: 60px 0 0;
  }
}

@media (max-width: 640px) {
  .footer-top__contact {
    max-width: 195px;
    width: 100%;
    margin-right: 50px;
  }

  .footer-bottom {
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .footer-bottom__copy {
    margin-bottom: 15px;
  }

  .footer-top__nav {
    width: 125px;
    margin-right: 50px;
  }

  .top-slider {
    &__title {
      font-size: 54px;
      line-height: 54px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  .slick-list {
    height: 380px;
  }

  .top-slider .slick-dots {
    margin-top: 0px;
  }

  .button-box__btn+.button-box__btn {
    margin-left: 22px;
  }

  .button-box {
    padding: 0 20px;
  }

  .products {
    padding: 75px 0 75px;
  }

  .designe-item__title {
    max-width: 115px;
  }

  .designe-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .designe-item {
    background-size: contain;
  }

  .articles {
    &__top {
      flex-direction: column;
    }

    &__top-title {
      margin-bottom: 8px;
    }
  }

  .partners-item {
    margin: 10px 55px;
  }

  .partners {
    padding: 220px 0 50px 0;
  }

  .blog-page {
    &__box {
      padding: 12px;
    }

    &__item-link {
      margin-bottom: 30px;
    }
  }

  .blog-one {
    &__comment-img {
      display: none;
    }
  }

  .blog-one {

    &__img-left,
    &__img-right {
      float: none;
      margin: 0 auto;
      max-width: 320px;
    }

    &__author {
      flex-wrap: wrap;

    }

    &__author-info {
      margin-bottom: 15px;
      width: 100%;
    }   
  }
}

@media (max-width: 580px) {
  .about-statistic {
    &__items {
      display: block;
    }

    &__item {
      margin: 0 auto 20px;
    }

  }
}

@media (max-width: 535px) {

  .header__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    padding: 30px 0 30px;
  }

  .user__nav {
    margin: 0 auto;
    margin-top: 15px;
  }

  .menu__list {
    transition: all .5s;
    top: 155px;
  }

  .user__nav-link-box {
    margin-right: 15px;
  }

  .user__nav-link--search {
    margin-right: 15px;
  }

  .footer-top {
    padding: 40px 0 10px;
    justify-content: center;
  }

  .top-slider {
    &__title {
      font-size: 46px;
      line-height: 46px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .benefits__item {
    padding: 0 20px;
  }

  .articles__top-title {
    margin-right: 20px;
  }

  .header__inner.fix .logo {
    display: none;
  }

  .header__inner.fix {
    padding: 5px 20px 5px;

    .menu__list--active {
      margin-top: -80px;
      height: 225px;
    }
  }

  .header__inner {
    .logo {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .products__items {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }

  .products__item {
    width: 100%;
    margin: 0 auto;
  }

  .button-box {
    margin-bottom: 50px;
    line-height: 25px;
    flex-wrap: wrap;
  }

  .user__nav-link-box {
    margin-right: 10px;
  }

  .user__nav-link--search {
    margin-right: 10px;
  }

  .blog-page {
    padding: 60px 0;
  }

  .blog-one {
    &__comment-date {
      width: 100%;
      margin-bottom: 15px;
    }

    .blog-one__comments-title {
      margin-bottom: 30px;
    }
  }
  .team {
    &__item-box {
      padding: 12px 0;
    }
  }
}

@media (max-width: 420px) {
  .top-slider {
    &__title {
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .distribution__content {
    padding: 10px;
  }

  .modal {
    &__box {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    &__label {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .blog-page {
    &__box {
      padding: 10px;
    }
  }

  .blog-one {

    &__img-left,
    &__img-right {
      float: none;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
    }

     blockquote {
      margin: 30px 0;  
      padding: 15px 20px;
    }

    &__author-info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__author-img {
      margin-bottom: 10px;
    }
  }
}