$accent:#a3bbc8;
$default: #436372;
$default-black:#1a1a1a;
$title:#243f4d;




%DMSans-700{
  font-family: 'DMSans-Bold' , sans-serif  ;
  font-weight: 700;
}

%DMSans-500{
  font-family: 'DMSans--Medium' , sans-serif  ;
  font-weight: 500;
}

%Rubik-500{
  font-family: 'Rubik-Medium' , sans-serif  ;
  font-weight: 500;
}

%Rubik-400{
  font-family: 'Rubik-Regular' , sans-serif  ;
  font-weight: 400;
}

%Rubik-700{
  font-family: 'Rubik-Bold' , sans-serif  ;
  font-weight: 700;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}