@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
    padding: 50px 0 55px;
		&__inner {
      display: flex;
      justify-content: space-between;
		}
    align-items: center;
}

.menu {
    font-size: 15px;
    
		&__list {
      display: flex;
      align-items: center;
      height: 100%;
		}

		&__list-item + .menu__list-item {
      margin-left: 35px;
		}

		&__list-link {
      @extend %DMSans-700;
      color: #436372 ;
      text-decoration: none ;
		}
}

.user {

		&__nav {
      display: flex;
		}

		&__nav-link {
      position: relative;
		}

		&__nav-link--search {
      margin-right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #a3bbc8;
      display: flex;
      justify-content: center;
      align-items: center;
		}

		&__nav-link-box {
      align-items: center;
      display: flex;
      margin-right: 20px;
      background-color: #fcd7b6;
      border-radius: 25px ;
		}

		&__nav-link--heart {
      margin: 0 30px 0 40px ;
      transform: scale(-1, 1);  
		}

		&__nav-link-basket {
      margin: 0 40px 0 30px ;   
		}

		&__nav-link-menu {
      width: 50px;
      height: 50px;
      background-color:  #a3bbc8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
		}

    &__nav-link--heart::after {
        content: "";
        width: 1px;
        height: 32px;
        background-color: #fff;
        top: -9px;
        right: 49px;
        position: absolute;
        cursor: default;
    }

    &__nav-number--heart, &__nav-number--basket {
      position: absolute;
      top: -7px;
      right: 11px;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 16px;
      @extend %DMSans-500;
      font-size: 10px;
    }

    &__nav-number--basket {
      top: -7px;
      right: -9px;    
    }

}

.footer-top {
    padding: 85px 0 70px;  
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #a3bbc8; 

		&__item {
      font-size: 14px;
      line-height: 24px;
    }

		&__contact {
      max-width: 195px;
      width: 100%;
      margin-right: 105px;
		}

		&__logo {
      margin-top: -10px;
      margin-bottom: 20px;
      display: inline-block;
		}

		&__item-adress {
      color: #7b7b7b;
      margin-bottom: 11px;
      display: inline-block;
    }

		&__nav {
      width: 125px;
      margin-right: 180px;
		}

		&__item-title {
      color: #1f2044;
      font-size: 16px;
      margin-bottom: 26px;
      @extend %DMSans-700;
      text-transform: uppercase;
		}

		&__content-text {
      margin-bottom: 4px;
		}

    &__form-subtitle {
      max-width: 260px;
      color: #7b7b7b;
      margin-bottom: 18px;
		}

		&__item-form {
      display: flex;
		}

		&__form-input {
      background-color: #fcd7b6;
      padding: 8px 0px 10px 8px;
      border: none;
      ;  
		}

    &__form-input::placeholder{
      color: #234969
    }

		&__form-btn {
      color: #fff;
      padding:  0 10px;
      border: none;
      background-color: $accent;
		}
}

.footer-bottom {
    padding: 38px 0 ;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
	
		&__nav-list {
      display: flex;
		}

		&__nav-item {
      padding: 0 15px ;
		}

    &__nav-item + .footer-bottom__nav-item {
      border-left: 1px solid #7b7b7b;
    }

}

.top-slider {
    max-width: 1770px;
    margin: 0 auto;
    padding: 204px 0px 45px;
    background-color: #fcd7b6;
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-position: 82% center;
    
		&__item {
      display: flex !important;
      justify-content: space-between;

		}

		&__title {
      color: $title;
      font-size: 72px;
      line-height: 70px;
      max-width: 410px;
      margin-bottom: 25px;
    }

		&__text {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 30px;
      max-width: 360px;
		}

		&__link {
      padding: 25px 20px 21px 27px;
      color: #fff;
      background-color: $accent;
      display: flex;

      max-width: 200px;
		}

    &__link-img {
      margin-left: auto
    }

		&__img {
      margin-top: auto
		}
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 205px;

      li {

        button {
          font-size: 11px;
          height: 30px;
          width: 30px;
          padding: 0;
          border-radius: 50%;
          border: none;
          background-color: #fde3cc;
          margin-left: 11px;
        }
        
      }
      .slick-active  {
          button {background-color: #fff;}
        }
    }
    
}

.benefits {
    height: 170px;
    background-color: #fef7f0;
    display: flex;
    justify-content: space-around;
    align-items: center;

		&__item {
      padding: 0 105px;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;  
		}
    
    &__item + .benefits__item {
      border-left: 1px solid #e8e4df  ;
    }

		&__item-img {
      margin-right: 25px;
		}

		&__item-content {    
      max-width: 210px;
		}

    &__item-text--full{
      max-width: 220px; 
    }

		&__item-title {
      font-size: 18px;
      line-height: 40px;
      color: #414141;
      @extend %DMSans-700;
		}

		&__item-text {
      line-height: 30px;
		}
}

.products {
    padding: 75px 0 185px;

		&__title {
      margin-bottom: 40px;
		}
 
		&__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px 30px ;  
		}

		&__item {
      @extend %DMSans-700;
      text-align: center;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      max-width: 280px;
      min-height: 380px;
		}

    &__item:hover {
      .products-item__link-box {
        transform: translateY(0);

      }
    }

    &-item__img-box {
      height: 290px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
    }

		&__item-img {
      object-fit: cover;     
     } 

		&__item-name {     
      line-height: 40px;
      font-size: 16px;
      color: $title;
		}

		&__item-price {
      color: $accent;
      margin-bottom: 25px;
		}

    &-item__link-box {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      right: 0;
      bottom: 50px;
      transition: all .3s;
      transform: translateY(300%);
    }

    &-item__box-link {
      transition: all .3s;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-color: #fff;
      border-radius: 50%;     
    }

     &-item__box-link:hover,
     &-item__box-link:active {
        background-color: $accent;
        path {
          fill: #ffffff;
        }

      }

    &-item__box-link + .products-item__box-link {
      margin-left: 16px;
    }
}

.distribution {

		&__inner {
      display: flex;
      justify-content: space-between;
		}

		&__item {
      height: 390px;
      width: 870px ;
      background-color: #feefe2;
      display: flex;  
      justify-content: center;
		}

		&__img {
      height: 400px;
      margin-top: -94px;
      margin-right: 18px;
		}

    &__img--second {
      margin-right: 62px;
    }

		&__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 320px;
      color: #243f4d;
		}

		&__title {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 30px;
		}

		&__text {
      margin-bottom: 34px;
      line-height: 30px;
		}

		&__link {
      color: $default;
      padding: 18px  10px 18px 20px;
      border: solid 1px #436372;
      border-radius: 5px;
      display: inline-block;
      width: 180px;
      margin-bottom: 95px;
      position: relative;
      &::after {
        content: '';
        background-image: url('../images/icons/distribution-arrow.svg');
        width: 22px;
        height: 9px;
        position: absolute;
        top: 24px;
        right: 20px;
      }
		}
}

.designe {
    padding: 105px 0 120px;

		&__title {
      margin-bottom: 28px;
		}	
}


.designe-items {
  display: grid;
  min-height: 530px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 34px 30px ;
}

.designe-item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

		&__content-box {
      padding: 40px 0 0 40px;
      max-width: 215px;
      text-align: left;
      @extend %DMSans-700;
		}
    &__link {
      cursor: pointer;
    }

		&__title {
      font-size: 20px;
      color: $default-black;
      margin-bottom: 15px;
		}

		&__text {
      color: $accent;
		}
}

.design-video {
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}		

.articles {
    padding: 120px 0 5px;
    @extend %DMSans-700;
		&__top {
      color: #191919;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
		}

		&__top-title {    
      font-size: 36px;    
		}

		&__top-link {
      margin-right: 25px;
      color: #262626;
      position: relative;
      &::after {
        content: '';
        background-image: url('../images/icons/article-arrow.svg');
        height: 11px;
        width: 6px;
        position: absolute;
        top: 5px;
        left: 79px;

      }
		}
}

.articles-items {
  display: flex;
  justify-content: space-between;
}
.articles-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    @extend %DMSans-700;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		&__img {
      position: relative;
		}

		&__type {
      position: relative;
      top: -17px;
      left: 28px;
      padding: 6px 10px;
      text-align: center;
      border-radius: 15px;
      background-color: #a3bbc8;
      font-size: 14px;
      max-width: 105px;
      color: #fff;
      display: inline-block;
		}

		&__text {
      max-width: 315px;
      padding-right: 30px;
      margin-left: 30px;
      padding-bottom: 18px;  
      color: #262626;
		}

		&__bottom {
      border-top: 1px solid #e0e0e0;
      margin-top: auto;
      margin-left: 30px;
      display: flex;
      align-items: center;
      padding: 22px 0;
      font-size: 12px;
		}

		&__date {
      margin-right: 35px;
      color: #222933;
		}

		&__author-link {
      color: #222933;
		}	
}

.partners {
  background-color: #fef7f0;
  padding: 265px 0 90px 0;
  margin-top: -172px;

  &__inner {
    display: flex;
    justify-content: space-around;
  }
  
}

.partners--marginnone {
  margin-top: 0px;
  padding: 80px 0 80px 0;  
}

.modal {
    padding: 120px 0;
    max-width: 470px;
    width: 100%;
    margin: 0 auto;

		&__input {
       display: block;
       width: 100%;
       margin-bottom: 25px;
       margin-top: 10px;
       height: 60px;
       border: 1px solid #f6f6f6;
       padding: 0 15px;
		}

		&__btn {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      border: none;
      color: #fff;
      background-color: $accent;
      width: 100%;
      cursor: pointer;
		}

		&__text {
      text-align: center;
      padding: 25px 0;
		}

		&__create-link {
      padding: 20px 0;
      display: flex;
      justify-content: center;
      border: 2px solid $accent;
      color: #243f4d;
		}
    
    &__box {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      border-bottom: 1px solid #f6f6f6;

    }
}

.terms {
    padding: 40px 0 120px;

		&__title {
      font-size: 24px;
      color: $title;
      margin-bottom: 22px;
      @extend %Rubik-400;
      margin-top: 80px;
		}

    &__title--bold {
      margin-top: 75px;
      font-size: 24px;
      color: $title;
      margin-bottom: 22px;
    }

		&__list {
      list-style-type: decimal-leading-zero;
      padding-left: 35px;
		}

		&__list-item {
      line-height: 30px;
      margin-bottom: 10px;
      color: $title;
		}

		&__text {
      line-height: 30px;
		}
}

.mission {
    padding: 120px 0;

		&__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
		}

		&__content {
      max-width: 570px;
		}

		&__year-num {
      display: inline-block;
      font-size: 140px;
      color: $accent;
      @extend %Rubik-700;
      margin-right: 20px;
		}

		&__year-text {
      display: inline-block;
      max-width: 100px;
      line-height: 30px;
		}

		&__title {
      font-size: 36px;
      color: $title;
      margin-bottom: 50px;
		}

		&__text {
      line-height: 30px;
      padding-bottom: 55px;
      border-bottom: 2px solid #ebeef3;
		}

		&__statistic {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
		}

		&__statistic-item {
      
      display: flex;
		}

    &__statistic-item + .mission__statistic-item {
      padding: 0 25px ;
      border-left: 1px solid #e6eaf0;
    }

		&__statistic-img {
      margin-right: 15px;
		}

		&__statistic-num {
      color: $title;
      font-size: 36px;
		}

		&__statistic-text {
      color: #585858;
      @extend %DMSans-700
		}
}

.about-statistic {
    padding: 85px 0 80px;
    background-color: #fcd7b6;

		&__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
		}

		&__item {
      max-width: 175px;
      text-align: center;
		}

		&__img {
      display: inline-block;     
    }

		&__num {
      margin-top: 18px;
      font-size: 36px;
      line-height: 32px;
      color: $title;
      margin-bottom: 16px;
		}

    &__num--product{
      margin-top: 36px;
    } 

		&__text {
      color: $title;
      @extend %Rubik-500;
		}
}

.team {
    padding: 120px 0 0;

		&__inner {
      display: flex;
      justify-content: space-between;
		}

		&__info {
      max-width: 300px;
		}

		&__info-title {
      font-size: 36px;
      color: $title;
      margin-bottom: 35px;
      margin-left: -3px;
		}

		&__info-text {
      line-height: 30px;
      color: $title;
      margin-bottom: 60px;
		}

		&__info-link {
      color: white;
      background-color: $accent;
      padding: 20px 65px 20px 25px ;
      border-radius: 5px;
      position: relative;
		}

    &__info-link::after {
      content: '';
      background-image: url('../images/about/arrow.svg');
      width: 15px;
      height: 11px;
      position: absolute;
      right: 25px;
      top: 24px;
    }


		&__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 40px 30px;
		}

		&__item-box {
      margin-top: -50px;
      position: relative;
      padding: 25px 0;
      z-index: 10;
      background-color: #fff;
      max-width: 325px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		}

		&__item-name {
      color: #436372;
      font-size: 22px;
      margin-bottom: 15px;
		}

		&__item-social {
      display: flex;
		}

		&__item-instagram,&__item-google {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;
		}

    &__item-instagram {
      margin-right: 7px;
    }
	
}

.shop {
  background-color: #fff;
  padding: 120px 0;

  &__inner {
    display: flex;
    margin-bottom: 100px;
  }

  &__filters {}
}



.filter {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
  
}

.filter-category {
  margin-bottom: 60px;

  &__label {
    display: flex;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
  
  }

  &__input {
    @extend %checkbox-hidden;
  }

  &__input:checked + .filter-category__box {
    background-color: #edf1f4;
  }

  &__box {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}

.filter-title {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  color: $title;
  position: relative;
  margin-bottom: 25px;
  &::after {
    position: absolute;
    content: '';
    top: 9px;
    right: -60px;
    height: 3px;
    width: 38px;
    background-color: $accent;
  }
}

.irs--flat .irs-handle {
  top: 18px;
  width: 16px;
  height: 16px;
  background-color: $accent;
}

.irs--flat .irs-handle:hover {
  
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #a3bbc8; ;
}

.irs--flat .irs-line {
  top: 25px;
  height: 3px;
  background-color: #dfe7ec;
  border-radius: 4px;
}

.irs--flat.irs-with-grid {
  height: 54px;
}


.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: $accent;
}

.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
  background-color: $accent;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs-with-grid .irs-grid {
  display: none;
}

.filter-price {
  margin-bottom: 80px;
  &__form {
    margin-top:-10px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $default;
  }
}

.filter-brand {

  &__form {
    margin-bottom: 55px;
  }

  &__label {
    display: flex;
    width: 100%;
    cursor: pointer;
    margin-bottom: 3px;
    
  }

  &__label-input {
    @extend %checkbox-hidden;
  }

  &__label-input:checked + .filter-brand__label-box {
    background-color: #edf1f4;
  }

  &__label-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $title;
    padding: 10px 15px;
    border-radius: 5px;
  }

  &__label-text {

  }

  &__label-number {}
}

.filter-recent {

}

.recent-items {

}

.recent-item {
  margin-bottom: 22px;
  display: flex;
  

  &__link {
    margin-right: 25px;
    margin-left: 3px;
  }

  &__img {}

  &__box {
    padding-right: 20px;
    color: $title;
  }

  &__name {
    margin-bottom: 10px;
    display: inline-block;
    line-height: 14px;
    color: inherit;
    
  }

  

  &__stars {
    margin-left: -5px;
    margin-bottom: 8px;
  }

  &__price {}
}

.shop-items {
  display: grid;
  grid-gap: 40px 30px ;
  grid-template-columns: 1fr 1fr 1fr ;
}






















@import 'media' ;